/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --page-bg-image: url("../images/cover-image-dark.png");
  --page-bg-color: #000028;
  --decor-corner-color: #ff0070;
  --accent-color: #ff0070;
  /*удалила шрифт --main-font: "IBM Plex mono", monospace; */
  --title-color: #db00ff;
  --accent-text-color: #000028;
  --button-text-color: #ff0070;
  --text-color: #f1b2ce;
  --section-title-color: #ff0070;
  --link-shadow-color: #ff0070;
  --header-theme-menu-button-hover: #ff007080;
  --header-rec-visibility: inline-flex;
}
