/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */

  --title-color: #ffc2e6;
  --accent-text-color: #353430;
  --button-text-color: #353430;
  --text-color: #353430;
  --accent-color: #ff8dcb;
  --page-bg-image: url("../images/cover-image-light.png");
  --page-bg-color: #fff1f7;
  --section-title-color: #353430;
  --decor-corner-color: #353430;
  --link-shadow-color: #ff8dcb;
  --header-theme-menu-button-hover: #32312d66;
  --header-rec-visibility: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --title-color: #ffc2e6;
    --accent-text-color: #353430;
    --button-text-color: #353430;
    --text-color: #353430;
    --accent-color: #ff8dcb;
    --page-bg-image: url("../images/cover-image-light.png");
    --page-bg-color: #fff1f7;
    --section-title-color: #353430;
    --decor-corner-color: #353430;
    --link-shadow-color: #ff8dcb;
    --header-theme-menu-button-hover: #32312d66;
    --header-rec-visibility: none;
  }
}
