/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-color: var(--page-bg-color);
  background-image: var(--page-bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

  font-family: var(--main-font);
  font-style: normal;
  font-weight: var(--font-weight-regular);
  color: var(--text-color);
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--accent-text-color);
}

/* Decorated zone*/

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  z-index: 1;
}

.decorated-zone::before {
  inset-block-start: 10px;
  inset-inline-end: 10px;
  border-inline-end: 1px solid var(--decor-corner-color);
  border-block-start: 1px solid var(--decor-corner-color);
}

.decorated-zone::after {
  inset-block-end: 10px;
  inset-inline-start: 10px;
  border-inline-start: 1px solid var(--decor-corner-color);
  border-block-end: 1px solid var(--decor-corner-color);
}

/* Header */

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  min-block-size: clamp(668px, 100vh, 100vh);
  padding: var(--page-padding);
  background-image: var(--page-bg-image);
  background-position: bottom;
  background-size: cover;
}

.header__theme-menu {
  grid-row: 1;
  justify-self: end;
  align-self: start;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 11px;
  list-style: none;
  padding-block-start: 65px;
}

.header__theme-menu-button {
  padding: 3px 13px;
  background: transparent;
  color: var(--button-text-color);
  font-size: var(--font-size-base);
  line-height: 18px;
  text-transform: lowercase;
  cursor: pointer;
  appearance: none;
  border: none;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--header-theme-menu-button-hover);
}

.header__theme-menu-button:focus {
  outline: none;
  border-bottom: 1px solid var(--button-text-color);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--button-text-color);
  pointer-events: none;
}

.header__rec {
  position: absolute;
  inset-block-start: 10px;
  inset-inline-end: 20px;
  display: var(--header-rec-visibility);
  align-items: center;
  gap: 8px;
  font-size: var(--font-size-base);
  line-height: 25px;
  color: var(--accent-color);
}

.header__rec::after {
  content: "";
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.header__title {
  grid-row: 2;
  align-self: center;
  font-family: var(--main-font);
  font-weight: var(--font-weight-bold);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.825;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__description {
  grid-row: 3;
  align-self: center;
  max-inline-size: 355px;
  margin-block-end: 14px;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
}

/* Content / Sections / Cards*/

.content {
  display: grid;
  gap: var(--section-gap);
  padding: 40px var(--page-padding);
  inline-size: clamp(375px, 100%, 1024px);
  margin-inline: auto;
}

.section {
  display: grid;
  gap: 20px;
}

.section_gallery {
  gap: 0;
}

.section__title {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  color: var(--section-title-color);
}

.section__content {
  display: grid;
  gap: var(--card-gap);
}

.card {
  display: grid;
  gap: 10px;
  align-content: start;
}

.card__title {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
}

.card__title_type_regular {
  font-weight: var(--font-weight-regular);
}

.card__text {
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
}

/* Links*/

.link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--link-shadow-color);
}

.link:hover {
  border-block-end: 1px solid currentColor;
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  outline: 1px solid currentColor;
}

/*  Gallery */

.gallery {
  display: grid;
  gap: 10px;
  margin-block-start: 10px;
}

.gallery__image {
  display: block;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

/* Footer */

.footer {
  position: relative;
  display: grid;
  place-items: center;
  min-block-size: clamp(668px, 100vh, 100vh);
  padding: var(--page-padding);
}

.footer__title {
  margin: 0;
  font-weight: var(--font-weight-bold);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.825;
  color: var(--title-color);
  text-shadow: 2px 2px 0 var(--accent-color);
}

/* Media: >= 768px */

@media (width >= 768px) {
  :root {
    --page-padding: 20px;
  }

  .decorated-zone::before {
    inset-block-start: 20px;
    inset-inline-end: 20px;
  }

  .decorated-zone::after {
    inset-block-end: 20px;
    inset-inline-start: 20px;
  }

  .header {
    grid-template-rows: 2fr 1fr 2fr;
    row-gap: 130px;
    min-block-size: 1024px;
  }

  .header__theme-menu-list {
    padding-block-start: 170px;
  }

  .header__rec {
    inset-block-start: 20px;
    inset-inline-end: 30px;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-inline-start: -20px;
  }

  .header__description {
    grid-row: 3;
    align-self: start;
    justify-self: end;
    max-inline-size: 364px;
    margin-block-start: 10px;
  }

  .content {
    padding-block: 60px;
    gap: 80px;
  }

  .section_why,
  .section_tips {
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
    align-items: start;
  }

  .section_why .section__title,
  .section_tips .section__title {
    max-inline-size: 236px;
  }

  .section_causes {
    grid-template-columns: 1fr 2fr;
  }

  .section_causes .section__content {
    grid-column: 1 / 3;
    gap: 20px;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-block-start: 20px;
  }

  .gallery__image:nth-child(1) {
    grid-column: 1 / 3;
  }

  .gallery__image:nth-child(2) {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }

  .gallery__image:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }

  .gallery__image:nth-child(5) {
    grid-column: 2 / 4;
  }

  .footer {
    min-block-size: 1024px;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

/* Media: >= 1024px */

@media (width >= 1024px) {
  .header {
    grid-template-rows: 1fr min-content 1fr;
    min-block-size: 768px;
    gap: 102px;
  }

  .header__theme-menu {
    justify-self: center;
  }

  .header__theme-menu-list {
    flex-direction: row;
    padding-block-start: 0;
  }

  .header__description {
    min-inline-size: 491px;
  }

  .section_why .section__title,
  .section_tips .section__title {
    max-inline-size: 315px;
  }

  .section_why,
  .section_tips {
    gap: 10px;
  }

  .section_causes {
    grid-template-columns: 1fr;
  }

  .section_causes .section__title {
    max-inline-size: 315px;
  }

  .section_causes .section__content {
    grid-template-columns: repeat(3, 1fr);
    grid-column: 1;
    gap: 20px;
  }

  .footer {
    min-block-size: 768px;
  }
}
